<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body{
            background-color:bisque;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
        }
        .container{
  
            background-color: rgb(182, 59, 59);
            width: 50%;
     
        }
        img{
            width: 100px;
        }
     
        
    </style>
    <div class="container">
        <div class="info">
            <p></p><h1 style="color: rgb(43, 190, 171); font: bold; ">Onat Mufasa</h1></p>
            <p><h2>Chonradsadornumrung School</h2></p>
            <p><img src="/cru-logo.png" alt="cru logo"></p>
        </div>
        <div class="content">
            <h2>My Subjects</h2>
            <ul>
                <li>English</li>
                <li>Math</li>
                <li>Science</li>
                <li>Thai</li>
                <li>Computer</li>
                <li>History</li>
            </ul>
            <h2>My 5 Favorite Heroes</h2>
            <ol>
                <li>Batman</li>
                <li>Spiderman</li>
                <li>Superman</li>
                <li>The Flash</li>
                <li>Green Lantern</li>
            </ol>
            <h3>My Top 3 Websites</h3>
            <ol>
                <li><a href="https://www.google.com/">Google</a></li>
                <li><a href="https://www.instagram.com/">Instagram</a></li>
                <li><a href="https://github.com/">Github</a></li>
                

            </ol>
         
        </div>
    </div>
</body>
</html>
